.m-deptTree{
    background: #e9eef1;
    width: auto !important;
    min-width: 200px;
    height: 100%;
    padding-top: 30px;
    padding-left: 10px;
}
.m-deptTree >.name{
    color: #333;
    font-weight: bold;
    font-size: 14px;
}
.m-deptTree .dept_name{
    position: relative;
    display: inline-block;
    min-width: 100%;
    cursor: pointer;
    color: #555;
    padding: 10px 0 10px 10px;
    font-size: 14px;

}
.m-deptTree .dept_name .arrow{
    position: absolute;
    font-size: 12px;
    color: #8b9fcb;
    top:15px;
    left: -7px;
}
.m-deptTree .ellipsis{
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}
.m-dept-member .g-header .opt-leader{
    margin-left: 20px;
}
.m-dept-member .tab-list{
    margin-top: 10px;
}
.m-dept-member .tab-list .action{
    cursor: pointer;
    font-size: 14px;
    color: #24c875;
}