@import '~antd/dist/antd.css';
.g-header{
    width: 100%;
    padding: 13px 20px;
    border-bottom: 1px solid #ebebeb;
}
.g-header .link.bread{
    color: #24c875;
    cursor: pointer;
}
.g-header .bread{
    margin: 0 5px;
    font-size: 14px;
    color: #8899a9;
}
.g-search{
    width: 200px;
}
.g-filter-letter{
    position: relative;
}
.g-filter-letter .list{
    position: absolute;
    width: 400px;
    top:35px;
    left: 0;
    background: #ffffff;
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: 0 0 4px #e1e1e1;
}
.g-filter-letter li{
    cursor: pointer;
    font-size: 14px;
    padding: 5px 8px;
    border-radius: 2px;
}
.g-filter-letter li.active{
    background: #19be6b;
    color: #ffffff;
}
.g-filter-letter li:hover{
    background: #f3f3f3;
}
.g-navActive{
    color: #19be6b !important;
}
.g-navActive{
    background: #f6f6f6 !important;
}
.g-breadcrumd{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #cadeee;
    padding-left: 20px;
    font-size: 13px;
}
.g-breadcrumd a{
    color: #19be6b;
}
.g-breadcrumd .separator{
    margin: 0 5px;
}
.g-from{
    font-size: 14px;
}
.g-from .result-p{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #a6cccc;
    margin: 5px;
    cursor: pointer;
}
.g-from .result-p:hover{
    background-color: #98d7c7;
}
.g-from tr{
    padding-bottom: 20px;
}
.g-from .in-star{
    font-size: 14px;
    color: #ff6533;
}
.g-from .in-h{
    color: #8899a9;
    padding-right: 40px;
    text-align: right;
}
.g-from td{
    height: 48px;
}
.g-from label{
    margin-right: 20px;
}
.g-from input{
    border: none;
    border-bottom: 1px solid #8899a9;
}
.g-from input.small{
    width: 50px;
    text-align: center;
}
.g-from button:focus{
    outline: none;
}
.g-from .input{
    width: 256px;
    height: 35px;
    padding-left: .5em;
    border: none;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 10px;
}
.g-from .input:focus{
    border-bottom: 1px solid #24c875;
}
.g-from .cancel{
    border: 1px solid #8899a9;
    color: #8899a9;
    background: #ffffff;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
}
.g-from .submit{
    border: none;
    color: #ffffff;
    background: #24c875;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
}
.g-top-col{
     border-bottom: 1px solid #cadeee;
    padding: 10px 0 10px 20px;
}
.g-list-warp .g-list-header{
    border: 1px solid #b7c8d0;
    border-bottom: none;
    line-height: 50px;
    height: 50px;
    padding-left: 20px;
    font-size: 14px;
    color: #333333;
    border-radius: 4px 4px 0 0;
}
.g-list-warp .g-list-table-head{
    border: 1px solid #b7c8d0;
    border-style: none solid none solid;
}
.g-list-warp .g-list-table-main{
    border: 1px solid #b7c8d0;
    border-top: none;
    overflow-y: auto;
    border-radius: 0 0 4px 4px;
}
.g-list-warp .g-list-table{
    border-collapse: collapse;
    width: 100%;
}
.g-list-warp  td{
    height: 48px;
    color: #8899a9;
    font-size: 14px;
}
.g-list-warp thead{
    background: #f2f5f9;
}
.g-list-warp thead td{
    color: #333333;
    font-size: 14px;
}
.g-list-warp tbody td{
    border-bottom: 1px solid #e9eaec;
}
.g-list-warp tbody .action{
    cursor: pointer;
    font-size: 14px;
    color: #24c875;
    margin-right: 15px;
}
.g-list-warp tbody tr:hover{
    background-color: #defef5;
}
.g-list-warp td{
    padding: 0 20px;
}
.g-empty{
    padding-top: 200px;
    text-align: center;
}
.g-empty .word{
    font-size: 14px;
    margin-top: 20px;
    color: #b8e0c8;
}
.ant-tabs-bar{
    margin: 20px 0 16px 20px;
}
.ant-btn-primary{
    background: #24c875;
    border: none;
}
.ant-btn-primary:hover,
.ant-btn-primary:focus{
    background: #24c875;
    border: none;
}
.ant-btn-default:hover,
.ant-btn-default:focus{
    color: #555;
    border: 1px solid #8899a9;
}
.ant-modal-header{
    border-bottom: none;
}
.ant-modal-footer{
    border-top: none;
}
.ant-modal-footer .ant-btn{
    border: none;
    color: #8899a9;
}
.ant-modal-footer .ant-btn-primary{
    background: transparent;
    color: #24c875;
}
.ant-modal-title{
    font-size: 14px;
    font-weight: bold;
    color: #444;
}
.g-filter-depts{
    outline: none;
}
.g-filter-depts .ant-select-selection{
    border-style: none none solid none;
    border-radius: 0;
    box-shadow: none;
}
.g-filter-depts .name{
    font-size: 14px;
}
.g-popup-sure .title{
    color: #333;
    font-size: 14px;
}
.g-popup-sure .info{
    font-size: 14px;
    color: #8899a9;
    margin-top: 8px;
}
.f-di{
    display: inline-block;
}
.f-fr{
    float: right;
}
.f-fl{
    float: left;
}
.f-clearFix:after{
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
    height: 0;
    visibility: hidden;
}
